@page
@model AboutMeModel
@{
    ViewData["Title"] = "About me";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>
<h4><img src="~/images/Profilbillede.jpg" alt="Sample Photo" /></h4>
<p>@Model.Name</p>
