@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>This is my handin for the mandatory assignment in the Internet Technology course.</p>

